/* FilterPage.css */

body {
  overflow: hidden; /* Hide scrollbars */
}

h2,h3
{
  color: antiquewhite;
}

/* Common styles for all screen sizes */
.filter-page {
  padding: 20px;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.tab-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.tab-container button {
  padding: 10px 15px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
}

.tab-container button.active {
  background-color: #007bff;
  color: white;
}

/* Styles for small screens (up to 768px) */
/* Styles for screens up to 1536px width */
@media (max-width: 1536px) {
  .tab-container {
    flex-direction: column;
    align-items: flex-start; /* Align to the left side */
    text-align: left; /* Align text to the left */
  }
  .tab-content
  {
    margin: 5rem 0rem 0rem 0rem ;
  }
  h2,h3
  {
    font-size: 1.5rem;
  }
  .slick-dots {
    position: absolute;
    bottom: -14.2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; /* Add z-index to make sure dots are visible */
  }
  .default-style .tab-content{
    margin: 0rem 0px 10rem 0px ;
  }
  .default-style .slick-dots
  {
    top: 22rem;
  }
  .default-style h3{
    font-size: 2.5rem;
  }
}


/* Styles for larger screens (769px and above) */
@media (min-width: 1537px) {
  .tab-content {
    text-align: center;
  }

  .tab-content
  {
    margin: 25rem 0rem 0rem 0rem ;
  }

  .slick-slider {
    padding: 2rem 0rem 0rem 0rem;
  }
  h2,h3
  {
    font-size: 2rem;
  }
  .slick-dots {
    position: absolute;
    bottom: -19.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; /* Add z-index to make sure dots are visible */
  }
 /* Styles for the "default" style */
.default-style {
  background-color: #f0f0f0; /* Set your background color */
}

.default-style h2 {
  
  font-size: 1.5rem; /* Customize the heading font size */
  color: #333; /* Customize the heading text color */
}

.default-style h3 {
  font-size: 3.5rem; /* Customize the subheading font size */
  color: yellow; /* Customize the subheading text color */
}

.default-style .tab-container button {
  background-color: #ccc; /* Customize the button background color */
  color: #333; /* Customize the button text color */
}

.default-style .tab-container button.active {
  background-color: #007bff; /* Customize the active button background color */
  color: white; /* Customize the active button text color */
}

.default-style .tab-content {
  /* Additional styles for the tab content in the "default" style */
  margin: 4rem 0rem 0rem 0rem;
}
.default-style .slick-slider {
  padding: 15rem 0rem 0rem 0rem;
}
/* .default-style .slick-dots
{
  margin: 20rem 0rem 0rem 0rem ;
} */
}

/* Customize other elements specific to the "default" style as needed */

