/* styles.css */

@keyframes fadeOut {
    from {
      opacity: 1;
      transform: translateZ(0);
    }
    to {
      opacity: 0;
      display: none;
      transform: translateZ(0);
    }
  }
  
  .fade-out {
    animation: fadeOut 1s ease-in-out;
  }
  