.update-form{
    display: flex;
    flex-direction: column ;
    gap: 20px;
}
input{
    width:250px;
    padding: 20px;
    border: 1px solid gray;

}

.formButton{
    border: none;
    padding: 10px;
    background-color: lightcoral;
    color: white;
}